#showContent {
    color: orange;
}

dl dt {
    padding: 0px 0 15px 0;
    padding: 0px 0 10px 0;
}
.message{
    width: 90px;
    height: 70px;
    float: left;
    overflow: hidden;
    display: inline-block;
}
.messge_href{
    display: block;
    height: 100%;
    color: #ff5d13;
    text-decoration: none;
}